---
import "@/styles/global.css";
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Vivez la tranquillité au Chalet Rosalie au cœur des Vosges. Profitez d'un refuge paisible entouré par la nature, idéal pour des séjours en famille ou en groupe. Réservez maintenant !">
		<meta name="keywords" content="Chalet Rosalie, hébergement Vosges, retraite nature, vacances en famille, Xonrupt-Longemer, lodge montagne">
		<meta property="og:title" content="Chalet Rosalie - Votre Retraite Paisible dans les Vosges" />
		<meta property="og:description" content="Vivez la tranquillité au Chalet Rosalie au cœur des Vosges. Profitez d'un refuge paisible entouré par la nature." />
		<meta property="og:image" content="https://chalet-rosalie.com/img/photo-feature.png" />
		<meta property="og:url" content="https://chalet-rosalie.com" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Chalet Rosalie - Votre Retraite Paisible dans les Vosges" />
		<meta name="twitter:description" content="Vivez la tranquillité au Chalet Rosalie au cœur des Vosges. Idéal pour des séjours en famille ou en groupe." />
		<meta name="twitter:image" content="https://chalet-rosalie.com/img/photo-feature.png" />
		<link rel="canonical" href="https://chalet-rosalie.com" />
		<script>
			import { webVitals } from "../lib/vitals";

			let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

			if (analyticsId) {
				webVitals({
					path: location.pathname,
					params: location.search,
					analyticsId,
				});
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
